
@{
    ViewBag.Title = "FrontPage";
}

<div id="container">
    <img src="~/Img/Frontpage/web-developments.jpg"/>
    <p>
This website is only used for testing new web applications and web development.
please do not make contact about offers of any kind.
</p> 
</div>



